*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: rgb(247, 240, 109);
  --green: rgb(9, 188, 138);
  --blue: rgb(0, 162, 255);
  --red: rgb(255, 89, 94);
  --violet: rgb(160, 82, 215);
  --brown: rgb(191, 114, 63);
  --white: rgb(255, 255, 255);
  --white-1: rgb(238, 238, 238);
  --white-2: rgb(221, 221, 221);
  --white-3: rgb(204, 204, 204);
  --white-4: rgb(187, 187, 187);
  --black-4: rgb(68, 68, 68);
  --black-3: rgb(51, 51, 51);
  --black-2: rgb(34, 34, 34);
  --black-1: rgb(17, 17, 17);
  --black: rgb(0, 0, 0);
}

html {
  font-size: 8px;
}

html,
body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #eee;
  font-family: monospace;
  overflow: hidden;
  min-width: 352px;
  min-height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(256, 256, 256, 0.6), rgba(256, 256, 256, 0.6)),
    conic-gradient(from 45deg, var(--green), var(--blue), var(--red), var(--yellow), var(--green));
}

p {
  margin: 0.5em 0;
}

h1 {
  margin-bottom: 2rem;
}

button {
  background: none;
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
}
button:focus {
  color: var(--red);
}

audio:not([controls]) {
  display: none;
}

kbd {
  border: solid 1px;
  padding: 2px 8px;
  margin-right: 8px;
}

.cloud-1 {
  animation: cloud-1 100s linear infinite alternate;
  position: absolute;
  width: 14%;
  left: 2%;
  top: 2%;
  transform: scaleX(-1);
}
@keyframes cloud-1 {
  100% {
    left: 84%;
  }
}

.cloud-2 {
  animation: cloud-2 100s linear infinite alternate;
  position: absolute;
  width: 28%;
  right: 2%;
  bottom: 2%;
}
@keyframes cloud-2 {
  100% {
    right: 70%;
  }
}

.dark-overlay {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.5rem;
  color: var(--black-1);
  text-decoration: none;
  padding: 0.5rem;
  opacity: 0.5;
}
.version:hover {
  opacity: 1;
}

.container {
  position: relative;
  width: 44rem;
  height: 24rem;
  /* background: white; */
}

.canvas {
  width: 44rem;
  height: 24rem;
  image-rendering: pixelated;
  outline: solid 1px;
  /* transition: all 0.4s ease-in-out; */
}

/* STATE */
.state {
  position: absolute;
  z-index: 20;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 2rem;
  background: var(--white-4);
  outline: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}

.state p:nth-of-type(1) {
  gap: 4rem;
  flex: 1 0 65%;
  padding: 0 1rem;
}
.state p:nth-of-type(2) {
  text-align: right;
  flex: 1 0 35%;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
}

/* INFO */
.info {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 4rem;
  font-size: 1.25rem;
  padding: 0 5rem;
  background: white;
  outline: solid 1px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.info button {
  margin-right: 1rem;
  border: solid 1px;
  padding: 4px 8px;
  white-space: nowrap;
}

/* ACTION */
.action-queue {
  position: absolute;
  top: 100%;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-left: black solid 1px;
  text-align: center;
}
.action-queue:empty {
  display: none;
}

.action-moves {
  position: absolute;
  top: 100%;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-left: black solid 1px;
  text-align: center;
}
.action-moves button {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border: solid 1px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-moves button.up {
  top: 0.125rem;
  left: 1.375rem;
}
.action-moves button.down {
  bottom: 0.125rem;
  left: 1.375rem;
}
.action-moves button.left {
  left: 0.125rem;
  top: 1.375rem;
}
.action-moves button.right {
  right: 0.125rem;
  top: 1.375rem;
}

.action-menu,
.action-back {
  position: absolute;
  top: 100%;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-right: black solid 1px;
  text-align: center;
}
.action-menu:empty,
.action-back:empty {
  display: none;
}

/* TRANSITION */
.transition {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.transition h1 {
}

.transition.to-right {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  animation: to-right linear forwards;
}
@keyframes to-right {
  100% {
    width: 100%;
  }
}
.transition.to-left {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  animation: to-left linear forwards;
}
@keyframes to-left {
  100% {
    width: 100%;
  }
}
.transition.to-bottom {
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  animation: to-bottom linear forwards;
}
@keyframes to-bottom {
  100% {
    height: 100%;
  }
}
.transition.to-top {
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  animation: to-top linear forwards;
}
@keyframes to-top {
  100% {
    height: 100%;
  }
}

/* CONTENT */
.content,
.fight {
  position: absolute;
  width: 44rem;
  height: 24rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /* background: var(--white-1); */
}

.content button:focus {
  color: var(--red);
}

/* CONTENT Splash */
.content .splash,
.content .end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1rem;
}
.content .splash img {
  width: 2rem;
  margin-bottom: 2rem;
  animation: splash-img 1s forwards;
}
@keyframes splash-img {
  100% {
    width: 10rem;
  }
}
.content .end img {
  width: 10rem;
  margin-bottom: 2rem;
  animation: end-img 1s forwards;
}
@keyframes end-img {
  100% {
    width: 2rem;
  }
}
.splash h1 {
  color: var(--red);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* CONTENT Start */
.content .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(45deg, rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0.8)),
    url(../img/logo.png);
  background-size: cover;
  background-position: center;
}
.content .start button {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.content .start button.back {
  font-size: 1rem;
  margin-top: 1rem;
}

/* CONTENT Text */
.content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1rem;
}

/* CONTENT Menu */
.content .menu,
.content .shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.25rem;
  padding: 1rem;
}

.content .menu > div,
.content .shop > div {
  position: relative;
}

.content .menu button,
.content .shop button {
  padding: 0.25rem;
  border: none;
}
.content .menu button:focus + .popup,
.content .menu button:hover + .popup,
.content .shop button:focus + .popup,
.content .shop button:hover + .popup {
  display: block;
}

.content .menu .popup,
.content .shop .popup {
  display: none;
  position: absolute;
  z-index: 100;
  background: var(--white-1);
  left: 100%;
  top: 0;
  padding: 0 1rem;
  margin-left: 0.5rem;
  border: solid 1px;
  white-space: nowrap;
}
.content .menu .popup:empty,
.content .shop .popup:empty {
  display: none !important;
}
.content .menu .popup h3,
.content .shop .popup h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

/* CONTENT Reward */
.content .reward {
  text-align: center;
  padding: 1rem;
}
.content .reward p {
  margin-bottom: 2rem;
}
.content .reward .rewards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.content .reward .rewards > div {
  position: relative;
}
.content .reward .rewards button {
  padding: 1rem;
  border: solid 1px;
  position: relative;
}
.content .reward .rewards button[data-type]::after {
  content: attr(data-type);
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 0.5rem;
}
.content .reward .rewards button:focus {
  outline: solid 2px;
}
.content .reward .rewards button:focus + .popup,
.content .reward .rewards button:hover + .popup {
  display: block;
}

.content .reward .rewards .popup {
  display: none;
  position: absolute;
  z-index: 100;
  background: var(--white-1);
  top: 100%;
  left: 0;
  padding: 0 1rem;
  margin-top: 0.5rem;
  border: solid 1px;
  white-space: nowrap;
}
.content .reward .rewards .popup:empty {
  display: none !important;
}
.content .reward .rewards .popup h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
}
.content .reward .rewards .popup p {
  margin: 0.5rem 0;
}

/* CONTENT Fight end */
.content .fight-end {
  text-align: center;
  padding: 1rem;
}
.content .fight-end .fighters {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.content .fight-end .fighters p {
  margin: 0;
  padding: 1rem;
  border: solid 1px;
}
.content .fight-end .fighters p.loser {
  opacity: 0.4;
}

.content .fight-end .rewards {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: solid 1px;
}

/* FIGHT */
.fight .enemy,
.fight .player {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 1rem;
}

.fight .enemy > img {
  width: 6rem;
  position: absolute;
  right: 2rem;
  top: 9rem;
}
.fight .player > img {
  width: 6rem;
  position: absolute;
  left: 2rem;
  bottom: 9rem;
}

.fight .box {
  padding: 1rem;
  border: solid 1px;
  background: white;
}

.fight h2 {
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fight p img {
  height: 0.875rem;
  position: relative;
  top: 0.125rem;
}

.fight .life {
  width: 100%;
  border: solid 2px;
  height: 1.5rem;
}
.fight .life::after {
  content: attr(data-life);
  position: relative;
  top: -1.25rem;
  padding: 0 0.5rem;
}
.fight .life div {
  height: 100%;
  transition: width 0.2s linear;
}

.fight .player {
  left: 100%;
  animation: playerSlide 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@keyframes playerSlide {
  100% {
    left: 0;
  }
}
.fight .player .life {
  border-color: var(--blue);
}
.fight .player .life div {
  background: var(--blue);
}

.fight .enemy {
  right: 100%;
  animation: enemySlide 1s ease-in-out forwards;
  text-align: right;
}
@keyframes enemySlide {
  100% {
    right: 0;
  }
}
.fight .enemy .life {
  border-color: var(--red);
}
.fight .enemy .life div {
  background: var(--red);
  margin-left: auto;
}

/* SCROLLBAR + EMPTY HIDDEN */
.content,
.info,
.status {
  overflow: auto;
  scrollbar-width: none;
}
.content::-webkit-scrollbar,
.info::-webkit-scrollbar,
.status::-webkit-scrollbar {
  display: none;
}

.content:empty,
.fight:empty,
.info:empty,
.state:empty {
  display: none;
}
