*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f7f06d;
  --green: #09bc8a;
  --blue: #00a2ff;
  --red: #ff595e;
  --brown: #bf723f;
  --white: #fff;
  --white-1: #eee;
  --white-2: #ddd;
  --white-3: #ccc;
  --white-4: #bbb;
  --black-4: #444;
  --black-3: #333;
  --black-2: #222;
  --black-1: #111;
  --black: #000;
}

html,
body {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    filter: invert(1);
  }
  .container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
  }
}

body {
  background: #eee;
  font-family: monospace;
  overflow: hidden;
  min-width: 352px;
  min-height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(256, 256, 256, 0.6),
      rgba(256, 256, 256, 0.6)
    ),
    /* linear-gradient(to top right, #39ff6e, #4aa9ff, #f78fb3, #ff5d2b); */
      conic-gradient(from 45deg, #09bc8a, #00a2ff, #ff595e, #f7f06d, #09bc8a);
}

.container {
  position: relative;
}

.canvas {
  image-rendering: pixelated;
  outline: solid 1px;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content:empty {
  display: none;
}

.state {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: var(--white-4);
  outline: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}
.state:empty {
  display: none;
}

.state p {
  flex: 1 0 50%;
}
.state p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
.state p:nth-of-type(2) {
  text-align: right;
}

.info a,
.menu a {
  text-decoration: none;
  color: var(--black-3);
  position: relative;
}

.info a:focus,
.menu a:focus {
  outline: none;
  color: var(--red);
}

.info {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  outline: solid 1px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.info:empty {
  display: none;
}

.info a {
  padding-right: 16px;
}
.info a:not(:first-of-type) {
  padding-left: 16px;
}

.info a:not(:first-of-type)::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: solid 1px var(--black-3);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.menu:empty {
  display: none;
}

.menu a {
  padding: 8px 0;
}

.menu,
.info {
  scrollbar-width: none;
}
.menu::-webkit-scrollbar,
.info::-webkit-scrollbar {
  display: none;
}
